﻿@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

<div id="main">
    <h2>Login to your account</h2>
    <form action="login" method="post">   
        <p>Username: </p><input type="text" name="Username" required />
        <p>Password: </p><input type="password" name="Password" required/>
        <br />
        <input type="submit" value="Submit"/>
    </form>
</div>