﻿@model SideProjects.BookmarkUrlLinks.Models.User

@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

<div id="main">
    <h2>Register an account</h2>

    <form action="register" method="post" id="registerForm"">
        <p>Username: </p>
        <input type="text" name="Username" required/>
        <p>Password:</p>
        <input type="text" name="Password"  required />
        <br />
        <button type="submit">Submit</button>
    </form>
</div>


