﻿@model List<SideProjects.BookmarkUrlLinks.Models.User>
@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

<div id="main">
    @{
        int index = 0;

        <h2>User Registered</h2>

        <table>
            <caption>User Account</caption>
            <tr>
                <th>Username</th>
                <th>Password</th>
                <th>Delete User</th>
            </tr>

            @foreach (var item in Model)
            {
                index++;
                <tr>
                    <th id="@index" >@item.UserName</th>
                    <th id="@index">@item.Password</th>
                    <th><button type="submit" class="delete-url" name="DeleteUserID" value="@item.UserName"/>Delete</th>
                </tr>
            }

        </table>

    }
</div>



