﻿@model SideProjects.BookmarkUrlLinks.Models.UrlLink
@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

<div id="main">
    <h2>Add a link to bookmark</h2>
    <form action="add-bookmarks" method="post">
        <p>Insert a link in the text box</p>
        <input type="text" name="Links" required />
        <br />
        <input type="submit" value="Add" />
    </form>

</div>




