﻿@model List<SideProjects.BookmarkUrlLinks.Models.UrlLink>
@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

<div id="main">
   <h1>Url Links</h1>

    @foreach(var link in Model)
    {
        <p>@link.Links | @Html.ActionLink("Delete", "DeleteLinksID", new { id = link.LinkID}) | <button title="no function yet">Delete</button></p>
    }
</div>

