﻿@model SideProjects.BookmarkUrlLinks.Models.UrlLink

@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

<div id="main">
    <h2>Delete Links</h2>    
    @{
        int linkID = Model.LinkID;
        string links = Model.Links;

        if (linkID != 0)
        {
            <p>@linkID</p>
        }

        if (links != null)
        {
            <p>@links</p>
        }
    }

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="DeleteLinksID" class="btn btn-default" />
            <br />
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
