﻿@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}


<body>
    <div id="main">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit
            Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum, quia dolor sit amet, consectetur, adipiscin] velit, sed quia non numquam do eius modi tempora incididunt, ut labore et dolore magnam aliquam quaerat voluptatem.
            Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit, qui in ea voluptate velit esse, quam nihil molestiae consequatur, vel illum, qui dolorem eum fugiat, quo voluptas nulla pariatur.
            Vero eos et accusamus et iusto odio dignissimos ducimus
            Qui blanditiis praesentium voluptatum deleniti atque corrupti, quos dolores et quas molestias excepturi sint, obcaecati cupiditate non provident, similique sunt in culpa, qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
         
            <br />
        </p>
        <h3>Show Image and API links</h3>
        <div class="hideShow" hidden>
            <a href="get-user" target="_blank">
                <img src="~/Assets/Image/img_the_scream.jpg" alt="screaming" />
            </a>
            <p>Click on the image to see user details</p>
            <br />
            <h4>API</h4>
            <div id="displayApi">
            </div>
        </div>
        <br />
        <button id="hide">Hide</button>
        <button id="show">Show</button>
        <br />
       
    </div>

</body>