body {
    background-color: seashell;
    font-family: Arial;
    margin: 0;
    font-weight: 800;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #55d6aa;
    color: black;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

h1 {
    float: left;
}

nav {
    float: right;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 30px 20px 20px 20px;
}

nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

nav a:hover {
    color: #000;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #444444;

    position: absolute;
    top: -1em;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

/* header h1 {
    text-align: left;
    margin: 0;
    padding: 0;
} */

p {
    font-family: Georgia;
    font-size: medium;
}

#content {
    padding: 10px;

}

#main {
    width: auto;
    float: center;
    margin: 50px;
}

#main h2{
    text-transform: uppercase;
}

footer {
    background-color: dimgrey;
    height: 50px;
    margin: 0;
    padding: 0;
    clear: both;
}

footer p {
    text-align: left;
    padding: 0;
    margin: 0;
}
