﻿<!doctype html>
<html lang="en">
<head>
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="~/Assets/CSS/index.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
</head>
<body>
    <header>
        <div class="container">
            <a href="html">
                <h1>Bookmark Links</h1>
            </a>
            <nav>
                <ul>
                    <a href="login"><li>Login</li></a>
                    <a href="register"><li>Register</li></a>
                    <a href="add-bookmarks"><li>Bookmark link</li></a>
                </ul>
            </nav>
        </div>
    </header>
    <!-- <div class="jumbotron text-center">
        <div>
            <a href="add-bookmarks">
                <h1>Bookmark Links</h1>
            </a>
            <nav>
                <ul>
                    <a href="register"><li>Add user</li></a>
                    <li>Add bookmark link</li>
                    <li>Html testing page</li>
                    <li>@Html.ActionLink("Register", "CreateUserAccount", "UserAccount")</li>
                    <li>@Html.ActionLink("Bookmark Url Links", "AddBookMark", "BookmarkUrl")</li>
                </ul>
            </nav>
        </div>
    </div> -->
    <div>
        @RenderBody()
    </div>

    <footer>
        <p>Copyright &copy; 2019 Bookmark Links</p>
    </footer>


    <script src="~/Assets/JS/index.js" type="text/javascript"></script>


</body>
</html>
